
main .container-fluid {
    max-width: 50vw;
    padding-top: 2%;
}

/* Font */
.hero-text {
    color: white;
}

/* MARKDOWN */

zero-md {
    max-height: 75vh;
    overflow-y: scroll;
    border: solid;
    padding: 2vh;
}

/* Header */

/* Main */

/* Forms */

form div{
    padding-top: 5%;
}

/* Footer */
footer {
    padding-top: 200px;
}